
body{
    padding: 0px;
    margin: 0px;
    background-color: black;
   }
  
   .header-sec {
       display: flex;
       
      
   }
   .imges {
      padding: 15px 0px;
       width:65%;
      
   }
   .list-sec {
       width: 35%;
       padding: 15px 0px;
     
      
   }
   .list-sec ul {
       list-style: none;
       display: flex;
       color: white;
   }
   .list-sec li{
       padding: 14px 0px 0px 46px;
       cursor: pointer;
   }
   .hero-content h1 {
       font-size: 52px;
       color: aliceblue;
       font-weight: bolder;
       cursor: pointer;
   }
   .hero-content {
       text-align: center;
       padding:70px 0px;
   }
   span{
       color: #5658dd;
       cursor: pointer;
   }
   p.reveal-from {
       color: #9ca9b3;
       font-size: 20px;
       padding: 15px 0px;
       cursor: pointer;
   }
   a.button1 {
       padding: 4px 22px;
       cursor: pointer;
       color: #eceded;
       background-color: #6163ff;
       margin: 10px 0px 0px 57px;
       font-size: 18px;
       font-weight: 700;
   }
   a.button2 {
    cursor: pointer;
       padding: 13px 30px;
       margin: 0px 4px 4px 2px;
       color: #eceded;
       background-color: #6163ff;
      
      
   }
   a.button3 {
    cursor: pointer;
       padding: 13px 37px;
       color: #eceded;
       background-color: #25282c;
       margin: 0px 0px 0px 17px;
       
   }
   img.viedo {
       height: 85vh;
       width: 899px;
       cursor: pointer;
   }
   .viedo-play {
    
       margin: 80px 0px 0px 0px;
       margin-bottom: 19px;
   }
   .picture-sec {
       text-align: center;
   }
   .picture h2 {
    cursor: pointer;
       color: aliceblue;
       font-size: 44px;
       font-weight: bolder;
   }
   .picture p {
    cursor: pointer;
       color: #9fabb4;
       font-size: 21px;
       margin: 0px;
   }
   .card img {
    cursor: pointer;
       height: 70px;
       width: 91px;
   }
   
   p.reveal-from {
    cursor: pointer;
       color: #9ca9b3;
       font-size: 20px;
       padding: 15px 0px;
   }
   a.button1 {
    cursor: pointer;
       padding: 4px 22px;
      
       color: #eceded;
       background-color: #6163ff;
       margin: 10px 0px 0px 57px;
       font-size: 18px;
       font-weight: 700;
   }
   a.button2 {
    cursor: pointer;
       padding: 13px 30px;
       margin: 0px 4px 4px 2px;
       color: #eceded;
       background-color: #6163ff;
      
      
   }
   a.button3 {
    cursor: pointer;
       padding: 13px 37px;
       color: #eceded;
       background-color: #25282c;
       margin: 0px 0px 0px 17px;
       
   }
  
   .picture-sec {
       text-align: center;
       padding-bottom: 37px;
   }
   .picture h2 {
    cursor: pointer;
       color: aliceblue;
       font-size: 44px;
       font-weight: bolder;
       margin-bottom: 14px;
   }
   .picture p {
    cursor: pointer;
       color: #9fabb4;
       font-size: 21px;
       margin: 0px;
   }
   .card img {
    cursor: pointer;
       height: 70px;
       width: 91px;
   }

   .card-sec {
    cursor: pointer;
    display: flex;
}

img.card_img {
    cursor: pointer;
    display: inline-flex;
    border-radius: 50%;
    background-color: #5658dd;
}
h3.card_category {
    cursor: pointer;
    color: aliceblue;
    font-weight: 700;
    padding: 20px 0px;
    margin: 0px;
}
p.card_title {
    color: #9ca9b3;
    font-size: 18px;
    font-family: sans-serif;
    margin: 0px;
    cursor: pointer;
}
.cardlist{
    display: inline-block;
    padding: 28px 19px;
}
.img-sec {
    text-align: center;
}
hr.new1 {
    cursor: pointer;
    border-top: 1px solid #25282c;
    background: #25282c;
    margin: 56px 0px 0px 0px;
    margin-bottom: 68px;
}
.split-sec {
    display: flex;

    margin-bottom: 55px;
}
img.oneimg-sec {
    height: 400px;
    width: 550px;
    cursor: pointer;
    
}
.icon-img {
    position: relative;
    left:80px;
    
}
span.text-sec {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #5658dd;
    cursor: pointer;
}
.work-title-sec {
    padding: 77px 60px 0px 0px;
}


h3.date-sec {
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -.3px;
    color: aliceblue;
    font-weight: bolder;
    cursor: pointer;
}
p.Lorem-sec {
    font-size: 21px;
    line-height: 30px;
    letter-spacing: -.1px;
    color: #9ca9b3;
    cursor: pointer;
}
.item-sec {
    padding: 85px 0px;
}
.Customer h2 {
    color: aliceblue;
    font-size: 44px;
    font-weight: bolder;
    margin-bottom: 14px;
    cursor: pointer;
}
.Customer-sec {
    text-align: center;
    padding-bottom: 37px;
}
.Customer p {
    color: #9fabb4;
    font-size: 21px;
    margin: 0px;
    cursor: pointer;
}
.tiles-item {
    background: #25282c;
    margin: 0px 24px 0px 0px;
    flex-basis: 355px;
    margin-bottom: 74px;
   
}
img.card1-sec {
    margin: 40px 0px 0px 34px;
}
.tiles-item-inner p {
    font-size: 17px;
    line-height: 31px;
    cursor: pointer;
  
    color: #9ca9b3;
    padding: 16px 38px;
  
}
.cardlist3-sec {
    display: flex;
}
hr.new2 {
    border: 1px solid;
    width: 266px;
    border-top: 1px solid #33363a;
    background: #33363a;
    cursor: pointer;
}
.testimonial-item h6 {
    padding: 11px 29px;
    color: aliceblue;
    cursor: pointer;
}
span.line-sec {
    color: #717d86;
    cursor: pointer;
}
span.App-sec {
    color: #1cb;
    font-weight: 800;
    cursor: pointer;
}

.cta-inner-sec {
    display: flex;
    background-color: #5658dd;
    height: 157px;
}
.cta-slogan h3 {
    font-size: 34px;
    line-height: 42px;
    letter-spacing: -.3px;
    color: aliceblue;
    font-weight: bolder;
    cursor: pointer;
}
.cta-slogan {
    margin: 67px 133px 0px 47px;
}
i.fa.fa-arrow-right {
    position: relative;
    right: 34px;
    color: blue;
    cursor: pointer;
    
}
.input-sec {
    padding: 63px 0px;
}
.input-sec input {
    height: 47px;
    width: 334px;
    padding: 0px 9px;
    cursor: pointer;
}
.Footer-logo {
    float: left;
}
.Footertop-menu {
    float: right;
    color: #6163ff;
    cursor: pointer;
    font-size: 19px;
    font-weight: bolder;
}
.Footertop-menu ul {
    display: flex;
    cursor: pointer;
}

i.fa.fa-facebook-f {
    padding: 0px 7px;
    cursor: pointer;
    
}
i.fa.fa-twitter {
    padding: 0px 35px;
    cursor: pointer;
}

.Footer-menu ul {
    display: flex;
    cursor: pointer;
}
.Footer-menu ul {
    list-style: none;
    float: right;
}
.site-footer-inner {
    margin-bottom: 11px;
    margin-top: 63px;
}
.Footer-sec {
    display: flex;
    width: 100%;
}
.footer-copyright {
    width: 50%;
}
.Footer-menu {
    width: 50%;
}
.Footer-menu li a {
    text-decoration: none;
    padding: 0px 0px 0px 27px;
    font-size: 15px;
    color: #9ca9b3;
    font-family: "Inter",sans-serif;
    font-weight: 400;
    line-height: 22px;
    cursor: pointer;
}
.footer-copyright h6 {
    cursor: pointer;
    font-size: 16px;
    line-height: 22px;
    color: #9ca9b3;
}
.footer-copyright span {
    color: #eceded;
}
h5.email-sec {
    color: aliceblue;
    font-size: 30px;
}